html { 
	-webkit-font-smoothing: antialiased; 
}

body {
	font-family: Ubuntu,"Bitstream Vera Sans","DejaVu Sans",Tahoma,sans-serif;
	margin: 2em 2em 2em 2em;
	font-weight: 300;
	font-size: 14px;
	line-height: 18px;
	color: #333;
}

/*
body { 
	font-family: 'Roboto Condensed', sans-serif; 
	margin: 2em 2em 2em 2em;
	font-weight: 300;
}
*/

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto Condensed', sans-serif; 
/*	font-family: 'Open Sans Condensed', sans-serif;*/
}

h1 { 
	font-size: 3em; 
	line-height: 0.25em;
	margin-bottom: 1em;
	font-weight: 600;
}

h2 { 
	font-size: 2em; 
	font-weight: 500;
}

/** links */
a:link {
	color:#00ffff;
	text-decoration: underline;
}      /* unvisited link */

a:visited {
	color:#a02c2c;
}  /* visited link */

a:hover {
	color:#000;
	background-color: #d0d000;
	background-size: 50% 50%;
	text-decoration: underline;
}  /* mouse over link */

/*
a[href$='.pdf'] { padding:0 20px 0 0; background:transparent url(/graphics/icons/pdf.gif) no-repeat center right; }
*/

/** header */
.login-logout {
	position: absolute;
	top: .5em;
	right: 1.5em;
}

#header-container>div {
	display: inline-block;
	vertical-align: middle;
}

#header-container>div.headline {
	width: 65%;
	margin: 0 0 0 12px;
}

#header-container h1, div.header h2 {
	color: #000;
	font-weight: bold;
	font-size: 3em;
	line-height: 34px;
	margin: 0;
}

div.header h2 {
	font-weight: normal;
	font-size: 1.25em;
	color: #606060;
}

/** footer */
.footer {
	clear: both;
	margin-top: 6em;
	padding-top: .5em;
	text-align: center;
}

#content-container {
	width: 700px;
}

#right-column {
	float: left;
}

/** navigation */
#navigation { 
	margin: 20px 0 20px -35px;
}

#navigation ul.menu {
	margin-top:6px;
	margin-left:-.5em;
	white-space:nowrap;
}

#navigation ul.menu li {
	display:inline;
	list-style-type:none;
}

#navigation ul.menu li a, #navigation ul.menu li {
	margin-right:.4em;
	padding:.3em .5em;
}

#navigation ul.menu li a:link, #navigation ul.menu li a:visited {
	color:#000;
	text-decoration:none;
}

#navigation ul.menu li a:hover {
	color:#000;
	background-color:#f3f3f3;
}

#navigation ul.menu li.active {
	font-weight:700;
	color:#fff;
	background-color:#00ffff;
}

#navigation ul.menu li.disabled-tab {
	color:#747474;
}

/** project sectioning */
#dashboard-projects {
}

.project {
	margin: 1.2em 0 0 0;
	width: 46%;
	border-top: 1px #eeeeee solid;
	float: left;
}

.wide {
	width: 100% !important;
	float: none;
}

.another {
	margin: 1.2em 0 0 2em;
}

dl {
	/*margin: 0 0 0 6px;*/
}

dl dd {
	font-size: 0.75em;
	color: gray;
	margin: 0 0 .5em 0;
	padding: 0;
}

.link-to-all {
	float:right;
	margin-right: 20px;
	font-size: 0.5em;
}

/** tables */
#tab-recent-docs {
	border: 1px solid black;
	width: 100%;
}

#tab-recent-docs th {
	background: #ddd;
}

table tr.shade {
	background: #eee;
}

/** forms */
fieldset {
	border: none;
}

/** clearfix */
.clearfix:after {
	content:"";
	display:table;
	clear:both;
}
