/*  

Theme Name: Internal Affairs

Theme URI: http://internalaffairs.rietveldacademie.nl/

Description: Based on Inuit Types by <a href="http://bizzartic.com">Zeljan Topic</a>.

Version: 1.0

Tags: light, theme-options, white, black, fixed-width, custom-colors, threaded-comments

Author: Rietveld

Author URI: http://rietveldacademie.nl/

*/

 

body{ font-family:Georgia, "Times New Roman", Times, serif; font-size:13px; margin:0; padding:10px 0 0; background-repeat: repeat-x; background-position: top }

body, img, p, h1, h2, h3, h4, h5, ul, ol, li, form, blockquote { margin: 0; padding: 0 }

h1, h2, h3, h4, h5 { padding: 10px 0 }

a, h1, h2, h3, h4, h5, h6  { color:#222222 }

ul, ol{ list-style:none }

small { font-size: 11px }

code { background: #FFFFC1 }



/*---------MISC STYLING --------- */

.fix{ clear:both; height:1px; overflow:hidden; margin:0 0 -1px }

.clear{ clear:both }

img.fl{ margin:0 12px 5px 0; background:#F4F4F4;	border:1px solid #DDDDDD; padding:5px; }

img.fll, .entry img{ background:#F4F4F4; border:1px solid #DDDDDD; padding:5px; margin:0 0 6px 0 }

img.fl:hover, img.fll:hover, .entry img:hover{ border:1px solid #666 }

.fl, .fll{ float:left }

.fr, .frr{ float:right }

.ac, span .ac{ text-align:center }

.ar, span .ar{ text-align:right }

.al, span .al{ text-align:left }

.gravatar{ float:left; background:#EDEDED; margin:0 7px 0 0; padding:4px }

.border-top{ border-top:2px solid #CCC6B7 }

.border-bottom{ border-bottom:1px solid #CCC6B7 }

.alpha{ margin-left:0 }.omega{ margin-right:0 }

.wp-caption { background:#F4F4F4; margin:0 0 6px 6px }

.wp-caption .wp-caption-text { font-size:11px; text-align:center; margin:0; padding:0 0 6px 0 }

img.alignleft{ margin:0 10px 0 0 }

h1{font-size:30px; line-height:30px; font-weight:700; letter-spacing:-1px} 

h2,h3,h4,h5{ font-family:Trebuchet MS, Arial, Helvetica, sans-serif; font-weight:700; margin:0 }

.aligncenter{ display:block; margin:10px auto 20px }

.alignleft{ float:left; margin:10px 20px 8px 0 }

.alignright{ float:right; margin:10px 0 8px 20px }

.widget ul li ul li,.widget_pages ul li ul li{ border:none; margin:8px 0 5px 15px; padding:0 0 0 10px;}

a,.widget ul li a,.featured_post h3 a:hover{ text-decoration:none; color: #434064;}

a:hover,#pagenav li ul li a:hover,.widget ul li a:hover,.widget .more a,.content .more a:hover,.post h2 a:hover,.featured_post h2 a:hover,.navigation a:hover{ text-decoration:underline}

.content_left,.footer_left,.fl{ float:left }

.content_right,.footer_right,.col2,.fr{ float:right }



/*---------LAYOUT--------- */

.wrapper{ width:990px; margin-right:auto; margin-left:auto; padding-bottom:10px }

.page{ float:left; width:930px; padding:0 30px }

#header{ float:left; width:610px; padding-top:30px; padding-bottom:30px }

#header-about h2{ float:left; width:100%; font:normal 33px/33px georgia; border-top:1px solid #DDD; border-bottom:1px solid #DDD; margin:0 0 30px; padding:15px 0 }

#header img{ border:none !important }

.nav{ float:left; width:610px }

.content{ left:320px; width:610px }

.content li{ margin-bottom:5px }

#header .blog-title{ line-height:55px }

#header .blog-title a{ color:#434064; font-size:50px; font-weight:bold }

#header .blog-title a:hover{ text-decoration:none; color:#666666 }

#header .blog-description{ color:#666666 }



/*---------TOP NAVIGATION for PAGES---------  */

.top_menu{ height:30px; width:930px; text-align:left; font-size:11px; padding:10px 0 0 0 }

.top_menu ul{ list-style:none; margin:0; padding:0 }

.page-menu li a{ color:#666666; display:block; padding:0 9px }

.page-menu li ul li a{ border:0; color:#FCFCFC }

.page-menu li a:hover,.top_menu li.active a{ color:#FCFCFC; background:#1E1E1E }

.page-menu li.current_page_item a{ color:#000; font-weight:700 }

.page-menu li.current_page_item a:hover{ color:#fff }

a.admin-link, a.admin-link:hover{color:#999;padding:0 6px 0 0;font-weight:normal}

span.subscribe{ color:#666;line-height:28px }

.page-menu li a:hover{ color:#FCFCFC; text-decoration:underline }

.page-menu li.current_page_item a:hover,#pagenav li:hover a{color:#FCFCFC}



/*---------DROPDOWN NAVIGATION FOR PAGES---------  */

#pagenav a{ display:block }

#pagenav li{ float:left; line-height:29px }

#pagenav li a:hover{ background:#1E1E1E;text-decoration:none }

#pagenav li ul{ position:absolute; width:15em; left:-999em }

#pagenav li:hover ul,#pagenav li.sfhover1 ul{ left:auto; z-index:1000 }

#pagenav li ul li{ background:#1E1E1E; border:solid #595959; line-height:26px; width:15em; border-width:0 1px 1px }

#pagenav li:hover,#pagenav li.hover{ position:static }

#pagenav li ul ul{ margin:-29px 0 0 15em }

#pagenav li:hover ul ul,#pagenav li:hover ul ul ul,#pagenav li.sfhover1 ul ul,#pagenav li.sfhover1 ul ul ul{ left:-999em; padding:2px 0 0 }

#pagenav li:hover,#pagenav li.sfhover1{ background:#1E1E1E }

#pagenav li a:hover,#pagenav li a.sfhover1{ color:#fff }

#pagenav li ul li ul li,#pagenav li ul li ul li ul li,#pagenav li ul li ul li ul li ul li{ border:1px solid #595959 }

#pagenav li:hover ul ul,#pagenav li.sfhover1 ul ul,#pagenav li:hover ul ul,#pagenav li:hover ul ul ul,#pagenav li:hover ul ul ul ul,#pagenav li.sfhover1 ul ul,#pagenav li.sfhover1 ul ul ul,#pagenav li.sfhover1 ul ul ul ul{left:-999em}

#pagenav li:hover ul,#pagenav li li:hover ul,#pagenav li.sfhover1 ul,#pagenav li li.sfhover1 ul,#pagenav li:hover ul,#pagenav li li:hover ul,#pagenav li li li:hover ul,#pagenav li.sfhover1 ul,#pagenav li li.sfhover1 ul,#pagenav li li li.sfhover1 ul,#pagenav li:hover ul,#pagenav li li:hover ul,#pagenav li li li:hover ul,#pagenav li li li li:hover ul,#pagenav li.sfhover1 ul,#pagenav li li.sfhover1 ul,#pagenav li li li.sfhover1 ul,#pagenav li li li li.sfhover1 ul{left:auto}

select,#pagenav{ padding:0 }

#pagenav li a span{ font-size:12px; color:#9D9D9D; font-weight:400 }





/*---------SUBSCRIBE ---------  */

.subscribe{ color:#FCFCFC; float:right; font:11px Verdana; height:16px; padding:0 5px 0 0 }

.subscribe a,.subscribe a:hover{ color:#000; font-weight:700 }

a.admin-link, a.admin-link:hover{ color:#aaa }

.rss-button{ font-weight:700; font-size:10px; color:#FFF; background:#D54100; border:1px solid #E48348; padding:1px 4px }



/*---------FEATURED POSTS --------- */

.feat_background{ background:#000; border: 1px solid #fff }

.boxed_featposts .featured_post{ width:288px; margin:0 5px 10px 5px; position:relative }

.full_featposts .featured_post{ width:610px; margin:0 5px 10px 5px; position:relative }

.featured_post span.date_bg{ position:absolute; right:2px; top:2px; background:#000; color:#fff; padding:4px }

.boxed_featposts .featured_content{ float:left; width:228px; color:#FFF; padding:0 0 0 15px }

.full_featposts .featured_content{ float:left; width:570px; color:#FFF; padding:10px 0 0 15px }

.featured_post img{ background:transparent; border:0; padding:0 0 0 5px; margin:0 }

.featured_post img:hover{ border:0 }

.featured_content p{ margin:0 0 5px}

.featured_content a{ color:#FFF !important }

.featured_post img{border:none;margin-left:auto;margin-right:auto;margin-top:5px;display:block}

.featured_post .date{color:#fff;font-weight:700;margin-right:10px;margin-left:15px;padding-top:15px;width:45px;height:50px}

.featured_date p{ line-height:32px; margin: 0}

.featured_content h2 a{ font-weight:400; color:#FFF; font-size:23px; font-family:Georgia, Times, serif }

.boxed_featposts.featured_content h2{ color:#FFF; margin-bottom:10px; line-height:16px }

.full_featposts .featured_content h2{ color:#FFF; margin-bottom:10px; line-height:16px }

.comments-feat { color:#fff !important }

.comments-feat a{ padding-left:2px; font-size:25px; text-transform:none; font-family:Georgia; font-weight:400; color:#aaa !important }

.hr-border{ background:url(images/hr-trans.png) no-repeat top; height:55px }



/*---------REST OF ENTRIES --------- */

.content .post{ float:left; margin-bottom:30px; width:610px }

.boxed_posts .post{ float:left; width:280px; background-image:none !important; margin:10px 15px 10px 10px !important; padding:0 !important; display: inline }

.full_posts .post{ float:left; width:600px; background-image:none !important; margin:10px 15px 10px 10px !important; padding:0 !important; display: inline }

.blog .post h2{ margin-bottom:5px; font-size:26px; font-weight:400; font-family:Georgia; letter-spacing: 0.01em; }

.post h2{ font-weight:700; font-family:Trebuchet MS, Arial, Helvetica, sans-serif; letter-spacing:-1px }

.post h2.post_title{ font-size:32px; margin-bottom:30px }

p.header_meta span{ font-size:12px; margin-right:5px; color:#FFF; padding:5px }

.blog .post p{ margin:5px 0; line-height:20px }

.col1,.col2{ width:300px }

.col1{ margin-right:10px; float:left }



/*---------SIDEBAR ---------  */

.sidebar{ width:255px; margin-top:30px }

.sidebar_right{ float:right; padding-left:30px; border-left:1px solid #DDD }

.sidebar_left{ float:left; padding-right:30px; border-right:1px solid #DDD }

.sidebar h3{ font-weight:700; font-size:16px }

.sidebar p{ font-size:13px; color:#fff }

.nosidebar .post2, .nosidebar .header-about h2{ width:930px; float:left;margin-bottom:30px }



/*---------widgets ---------  */

.widget .more,.content .more{ color:#000;font-weight:700; font-family:Trebuchet MS,Arial,Helvetica,sans-serif; margin-bottom:0 }

.widget .more span,.content .more span{ color:red; margin-right:5px }

.widget{ width:225px; margin-bottom:30px; float:left; list-style:none; overflow:hidden; padding:15px; background-color:#000; color:#FFFFFF }

.tagcloud { background-color:#222222 !important; color:#FFFFFF }

.widget a, .widget h2, .widget h3, .widget li, .widget p { color:#FFFFFF !important }

.widget li{ padding-top:11px; list-style-type:none; margin:0 }

.widget h2{ margin-bottom:15px; font-size:18px }

.widget h3{ margin-bottom:5px; font-size:18px; border-bottom:1px solid #eee; font-family:Trebuschet MS; padding:0 0 10px }

.flickr h2 span{ color:#0061D8 }

.flickr h2 span span{ color:#FF1183 }

.flickr ul{ margin:15px 0 0; padding:0 }

.flickr_badge_image{ float:left; list-style:none; margin:0 10px 10px 0 }

.flickr img{ border:12px solid #111; background-color:#999; padding:1px }

.flickr img:hover{ border-color:#333 }

#calendar_wrap{ padding:0 0 0 40px }

#calendar_wrap caption{ padding:10px 0 }

li.recentcomments a{ font-style:italic }

.widget #searchform label{ display:none }



/*---------ADVERTISING ads --------- */

.box3{ background:transparent; padding:0 0 30px 0; margin:0 }

.ads123456{ height:125px; margin:0; padding: 2px 0 0 0 }

.ads123456 img{ float:left; border:1px solid #fff; margin:0 }

.ads123456{ float:right; margin:0 }

#big_banner img{ background:transparent; border:1px solid #ddd; margin:0 0 0 2px }



.adsense-468{ text-align:center }

.adsense-728{ text-align:center; padding:20px 0 0 0; margin:0 0 -20px 0; width:910px }



/*---------SINGLE POST STYLING --------- */

.single-post #header-about h1{ float:left; width:610px; font:normal 33px/33px georgia; border-top:1px solid #DDD; border-bottom:1px solid #DDD; margin:0 0 20px; padding:15px 0; text-transform:none }

.date-comments{ color:#777 }

.date-comments a{ color:#777;font-weight:700 }

.date-comments span.comments a{ font-size:22px; font-weight:400 }

.tags{ padding: 10px 0 }

.entry { color:#333; padding: 0 0 30px 0; }

.entry a{ text-decoration:underline }

.entry a:hover{ color:#346BA4 }

.entry img.fr{ margin:0 }

.entry img.alignright{ margin:0 0 10px 10px }

.entry p{ text-align:left; font-size:13px; line-height:20px !important; padding:8px 0 }

.entry blockquote{ border-left:2px solid #444; width:85%; color:#666; font-style:italic; margin:5px auto 15px; padding:0 10px }

.entry ol, .entry ul { line-height: 18px; padding:8px 0 }

.entry ul { padding-left: 60px }

.entry ul li { list-style: disc; padding: 3px 0 }

.entry ul li ul li { list-style: circle }

.entry ol { padding-left: 50px }

.entry ol li { list-style: decimal inside; padding: 3px 0 }

.entry h2, .entry h3 { font-weight:normal }

.entry h2 { font-size: 24px }

.entry h3 { font-size: 18px }

.entry h4 { font-size: 14px }

.entry h5 { font-size: 11px }



/*---------SINGLE PAGE STYLING --------- */

.page{ padding:10px 0 }

span.edit-entry { font-size:16px; color:#999; padding: 0 0 0 10px }

.last-updated{ font-size:11px; color:#999; text-align:right }



/*---------COMMENTS --------- */

span.comments {margin-left:5px; padding-left:20px; background: url(images/comments-trans.png) no-repeat bottom left }

.commh2{font-size:21px !important; color:#333 !important; padding:0 0 5px 0 }

#comments ol{padding:20px 0;}

#comments .comment { margin-top: 10px; width: 100%;}

#comments .comment .meta-left { width: 90px; float:left; color:#bbb; font-family:Georgia, Times, serif }

#comments .comment .meta-left p{ padding:10px 0 0 0 }

#comments .comment .meta-left .meta-wrap {width: 90px; margin-right: -16px; overflow: hidden; padding-right: 7px; min-height:70px }

.authorcomment, .authorcomment a, .authorcomment a:hover {color:#515151 }

#comments .comment small {font-size: 11px }

* html #comments .comment .text-right { height: 100px }

#comments .comment .text-right { min-height: 70px; margin: 0; background:#F8F8F8; padding: 12px; border: #FF0000 1px solid; margin-left:100px; float:none }

#comments .comment .text-right a{ text-decoration:underline }

#comments .comment .text-right p { line-height: 18px; padding: 0 0 8px 0 }

#comments ul.children { margin:10px 0 0 20px; padding:0 }

#comments .commentlist { padding:0 }

#comments .comment .authcomment{ background:#EAEAE3; border: #CCC6B7 1px solid }

p.commpadd{padding:10px 0 10px 0 }

span.comm-reply{ float:right; color:#bbb; padding:5px 0 0 0 }

span.comm-reply a, span.comm-reply a:hover{ font-size:13px; color:#bbb }

.cancel-comment-reply{padding:0 0 10px 0 }

#respond {padding:10px 0 0 0 }

#respond textarea, .commpadd input{border: #DEDEDE 1px solid; background:#F8F8F8 }

input#submit{font:bold 12px Arial,Helvetica,Tahoma,Verdana,Sans-Serif; color:#FFF; text-align:center; padding: 5px; border:1px solid #DEDBD1; background:#000; margin:0 0 7px }



/*---------ARCHIVE --------- */

.arclist ul li{color:silver; font-size:12px; border-bottom:1px solid #f1f1ed; padding:5px 0 }

.arclist ul li ul{border-bottom:0; padding:0 0 0 5px }

.arclist ul li ul li{border-bottom:0; padding:10px 0 0 5px }

.rss-archive{background:url(images/rss-small.gif) center left no-repeat; padding-left:24px; line-height:23px }

.rss-archive a, .rss-archive a:hover{color:#E4760F; font-size:13px }

.arclist .archives-time{float: left;	text-transform: uppercase; color: #666666; width: 90px; border-right: dashed 1px #ddd; margin:0 15px 0 0 }

.browsing-archive #header-about h2{ font-size:30px }



/*---------PAGE NAVIGATION - pagination --------- */

.pagination { width: 100%; font-family: georgia; font-size: 12px; font-weight: bold; padding: 26px 0 }

.Navi { float: right; padding: 0 0 20px 0 }

.Navi a { text-decoration: none !important }

.Navi .on { color:#fff; display: block; float: left; font-size: 14px; padding: 3px 9px 4px 9px; margin-left: 4px; background: #000 !important }

.Navi a { border:1px solid #CCC6B7; color: #000; display: block; float: left; padding: 3px 7px; margin-left: 4px }

.Navi a:hover { color:#000; background: #ddd }



/*---------AUTHOR STYLING --------- */

.author-archive{ padding:0 0 25px 0; margin: 0 0 30px 0; border-bottom: 1px solid #ddd }

.auth_gravatar{ float:left; margin-right:10px; width:58px}

.auth_gravatar img{ background:#FFF; border:1px solid #ccc; width:48px; height:48px; float:left !important;padding:4px }

.auth_email a{ padding: 2px 0 2px 0; text-decoration:none; font-weight:700 }

.auth_email a:hover{ text-decoration:underline }



/*---------FOOTER --------- */

.footer{ padding-top:15px; padding-bottom:30px; width:610px; border-top:1px solid #DDD; color:#000000 !important }

.footer a { color:#222222 }

.footer .fr span{ color:#CE0000 }

.footer ul{ float:left; margin:0 0 30px; padding:0 }

.footer li{ float:left; list-style-type:none; margin:0 25px 0 0 }

