
body { background-color: #ffffff; background-image: url(bgr-white-green.png); }

.page-menu li a:hover,.top_menu li.active a,#pagenav li a:hover,#pagenav li ul li,#pagenav li:hover,#pagenav li.sfhover1{ background:#3D4C06 }
#pagenav li ul li{ border:solid #516600; border-width:0 1px 1px }
#pagenav li ul li ul li,#pagenav li ul li ul li ul li,#pagenav li ul li ul li ul li ul li{ border:1px solid #516600 }

.feat_background,.featured_post span.date_bg{ background:#3D4C06 }

.widget{ background-color:#3D4C06 }

.Navi .on { background: #3D4C06 !important }
.Navi a:hover { background: #DBE2BE }

#comments .comment .authcomment{ background:#E8EFDA; border: #CCC6B7 1px solid }
input#submit{ background:#3D4C06 }

.flickr img{ border:12px solid #1F2603 }
.flickr img:hover{ border-color:#5B7008 }


