
body { background-color: #ffffff; background-image: url(bgr-white-blue.png); }

.page-menu li a:hover,.top_menu li.active a,#pagenav li a:hover,#pagenav li ul li,#pagenav li:hover,#pagenav li.sfhover1{ background:#144566 }
#pagenav li ul li{ border:solid #1B5D89; border-width:0 1px 1px }
#pagenav li ul li ul li,#pagenav li ul li ul li ul li,#pagenav li ul li ul li ul li ul li{ border:1px solid #1B5D89 }

.feat_background,.featured_post span.date_bg{ background:#144566 }

.widget{ background-color:#144566 }

.Navi .on { background: #144566 !important }
.Navi a:hover { background: #DAE4EA }

#comments .comment .authcomment{ background:#E6EDF2; border: #CCC6B7 1px solid }
input#submit{ background:#144566 }

.flickr img{ border:12px solid #0A2233 }
.flickr img:hover{ border-color:#1F6B9E }


