
body { background-color: #ffffff; background-image: url(bgr-white-purple.png); }

.page-menu li a:hover,.top_menu li.active a,#pagenav li a:hover,#pagenav li ul li,#pagenav li:hover,#pagenav li.sfhover1{ background:#573359 }
#pagenav li ul li{ border:solid #7B497F; border-width:0 1px 1px }
#pagenav li ul li ul li,#pagenav li ul li ul li ul li,#pagenav li ul li ul li ul li ul li{ border:1px solid #7B497F }

.feat_background,.featured_post span.date_bg{ background:#573359 }

.widget{ background-color:#573359 }

.Navi .on { background: #573359 !important }
.Navi a:hover { background: #EED7EF }

#comments .comment .authcomment{ background:#F1EAF2; border: #CCC6B7 1px solid }
input#submit{ background:#573359 }

.flickr img{ border:12px solid #271728 }
.flickr img:hover{ border-color:#925796 }


