

body { background-color: #434064; background-image: url(bgr-dark-black.png); }



.page-menu li a:hover,.top_menu li.active a,#pagenav li a:hover,#pagenav li ul li,#pagenav li:hover,#pagenav li.sfhover1{ background:#222222 }

#pagenav li ul li{ border:solid #3D3D3D; border-width:0 1px 1px }

#pagenav li ul li ul li,#pagenav li ul li ul li ul li,#pagenav li ul li ul li ul li ul li{ border:1px solid #3D3D3D }

span.subscribe,.page-menu li a{ color:#B2B2A6 }

.page-menu li.current_page_item a,.subscribe a,.subscribe a:hover{ color:#fff }



#header-about h2,.single-post #header-about h1{ border-top:1px solid #333333; border-bottom:1px solid #333333; color:#D8D8CD }

#header .blog-title a{ color:#D8D8CD }

#header .blog-title a:hover{ color:#fff }

#header .blog-description{ color:#B2B2A6 }



.sidebar_right{ border-left:1px solid #333333 }

.sidebar_left{ border-right:1px solid #333333 }



.feat_background,.featured_post span.date_bg{ background:#222222 }

.feat_background{ border: 1px solid #000 }



.entry,.page .post,a, h1, h2, h3, h4, h5, h6 { color:#D8D8CD }

.wp-caption-text { color:#222222 }

code { background: #282611 }



.commh2,.authorcomment, .authorcomment a, .authorcomment a:hover{ color:#D8D8CD !important }

#comments .comment .meta-left { color:#515151 }

#comments .comment .text-right,#respond textarea { background:#111111; border: #222222 1px solid; color:#D8D8CD }

#comments .comment .authcomment{ background:#222222; border: #333333 1px solid }

input#submit{ background:#222222 }

#commentform p{ color:#D8D8CD }

.arclist ul li{ border-bottom:1px solid #333333 }



.widget{ background-color:#222222 }



.Navi .on { background: #D8D8CD !important; color:#000 }

.Navi a { border:1px solid #333333; color: #D8D8CD }

.Navi a:hover { background: #D8D8CD }



.flickr img{ border:12px solid #0F0F0F }

.flickr img:hover{ border-color:#6B6B6B }



.widget h3{ border-bottom:1px solid #000 }



.footer{ color:#D8D8CD !important; border-top:1px solid #333333 }

.footer a { color:#D8D8CD }





